<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>AuthorizeForm</display-name>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>by.htp.authForm.web.controller.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>by.htp.authForm.web.listener.Listener</listener-class>
	</listener>
	<!--<session-config>
		<session-timeout>1</session-timeout>
	</session-config>-->
	<filter>
		<display-name>RequestLoggingFilter</display-name>
		<filter-name>RequestLoggingFilter</filter-name>
		<filter-class>by.htp.authForm.web.filter.RequestLoggingFilter</filter-class>
	</filter>
	<filter>
		<display-name>CharsetFilter</display-name>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>by.htp.authForm.web.filter.CharsetFilter</filter-class>
		<init-param>
			<param-name>characterEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/MainServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestLoggingFilter</filter-name>
		<url-pattern>/MainServlet</url-pattern>
	</filter-mapping>
</web-app>